{{ "section-collection-grid.css" | asset_url | stylesheet_tag }}


<div class="collection-grid page-width">
  <h2> {{ section.settings.collection_header }} </h2>
  <div class="collection-grid__wrapper">
    {% for block in section.blocks %}
       <a class="collection-grid__card" href={{ block.settings.collection }}">
         <img src="{{ block.settings.collection.image | img_url }}">
         <h3> {{ block.settings.collection.title | downcase }} </h3>
       </a>
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "Collection Grid",
    "settings": [
       {
          "type": "text",
          "id": "collection_header",
          "label": "Collection Header",
          "default": "take a look around"
       }
    ],
  
    "blocks": [
       {
         "name": "Collection Grid",
         "type": "collection",
         "limit": 4,
         "settings": [
            {
              "type": "collection",
              "id": "collection",
              "label": "Select your collection"
            }
         ]
       }
    ],

    "presets":[
       {
         "name": "Collection Grid"
       }
    ]
  }
{% endschema %}
