{{ "hero-section.css" | asset_url | stylesheet_tag }}

<div class="hero-section">
  <div class="hero-section-inner">
     <img src="{{ "hero.png" | asset_url }}">
     <h1> vintage & thrift </h1>
  </div>
</div>

<div class="hero-collection page-width">
<!--   <div class="parralax parralax-one" style="background-image: url({{ "parallax-left.svg" | asset_url }})"></div>
  <div class="parralax parralax-two" style="background-image: url({{ "parallax-right.svg" | asset_url }})"></div>
   -->
  <div class="hero-collection__inner">
    {% for block in section.blocks %}
     <a class="hero-collection__card" href="{{ block.settings.collection.url }}">
        <div class="hero-collection__inner-content">
            <div class="hero-collection__inner-content__bg-image" style="background-image: url({{ block.settings.image_bg | img_url: "medium" }})"></div>
            <div class="hero-collection__inner-content__hover-image" style="background-image: url({{ block.settings.image_hover | img_url: "medium" }})"></div>
            <h3 class="hero-collection__inner-content__title"> {{ block.settings.collection.title | downcase }} </h3>
        </div>
      </a>
    {% endfor %}
  </div>
</div>


{% schema %}
  {
 	"name": "Hero Section",
 	"settings": [],
 	"blocks": [{
 		"name": "Collection",
 		"type": "collection",
 		"settings": [{
 				"type": "collection",
 				"id": "collection",
 				"label": "Collection"
 			},
 			{
 				"type": "image_picker",
 				"id": "image_bg",
 				"label": "Background Image"
 			},
 			{
 				"type": "image_picker",
 				"id": "image_hover",
 				"label": "Hover Image"
 			}
 		]
 	}],

 	"presets": [{
 		"name": "Hero"
 	}]
 }
{% endschema %}