{{ "section-picks-week.css" | asset_url | stylesheet_tag }}


<div class="picks-week page-width">
  <div class="picks-week__inner">
    <h2 class="picks-week__inner-title"> {{ section.settings.collection_name | downcase }} </h2>
    <div class="picks-week__card-ctn">
      {% for product in section.settings.collection.products %}
         <a class="picks-week__inner-url" href="{{ product.url }}">
            <div class="picks-week__card-content">
              <div class="bubble-tag bubble--{% if product.tags contains "New" %}new {% elsif product.tags contains "Fave" %}fave {% elsif product.compare_at_price != blank %}sale{% endif %}">
                <span>
                  {% if product.tags contains "New" %} new in 
                    {% elsif product.tags contains "Fave" %} staff</br>fave 
                    {% elsif product.compare_at_price != blank %} sale
                  {% endif %}
                </span>
              </div>
              <img src="{{ product.images[0].src | img_url: "large" }}">
              <h3 class="picks-week__card-content__title"> {{ product.title }} </h3>
              <h2 class="picks-week__card-content__price"> {{ product.price | money }} </h2>
 <!-- Product Reviews code -->
            <div id="shopify-product-reviews" data-id="{{ product.id }}"></div>

            </div>
         </a>
      {% endfor %}
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Picks Week",
    "settings": [
       {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
       },
       {
          "type": "text",
          "id": "collection_name",
          "label": "Collection Title",
          "default": "Picks of The Week"
       }
    ],

    "presets": [
       {
         "name": "Picks Week"
       }
     ]
  }
{% endschema %}

